<div class="d-flex bg-blue align-items-center justify-content-between w-100 p-3">
  <% if  params[:id].present? %>
    <%= link_to categories_path do %>
      <i class="fa-solid fa-arrow-left text-white"></i>
    <%end %>
  <%else%>
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left text-white"></i>
    <%end %>
    <%end%>
    <%p params%>
    <% if params[:action] == 'show'%>
      <h2 class="text-white ms-4">transactions</h2>
    <% else%>
    <h2 class="text-white ms-4"><%= params[:controller]%></h2>
    <%end%>
    <%= button_to "Log out", destroy_user_session_path, class: "btn bg-blue login text-white", method: :delete, data: { turbo: false } %>
  </div>