@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,600;1,400&display=swap');

body {
  font-family: 'Figtree', sans-serif;
}

.fbold {
  font-weight: 600;
}

.bg-blue {
  background-color: #3778c2;
}

.bg-green {
  background-color: #5fb523;
}

.bg-lightgray {
  background-color: rgb(236, 236, 236);
}

.fsize80 {
  font-size: 0.8rem;
}

.login:hover {
  background-color: #29588e;
}

.green:hover {
  background-color: #3a6d16;
}
